<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title h4" id="example-modal-sizes-title-lg">
			<ng-container *ngIf="userRole">
				<ng-container>{{ 'COMMON.ADD' | translate }}</ng-container>
				{{ 'USER.ROLE' | translate }}
			</ng-container>
		</div>
	</div>
	<div class="modal-body" style="min-height: 180px">
		<ng-container *ngIf="(isLoading$ | async) || (isLoadingSave$ | async)">
			<app-loading></app-loading>
		</ng-container>

		<ng-container
			*ngIf="
				userRole && !(isLoading$ | async) && !(isLoadingSave$ | async)
			"
		>
			<form
				action="#"
				class="form form-label-right"
				[formGroup]="formGroup"
			>
				<div class="form-group row">
					<div class="col-12 margin-bottom-10-mobile">
						<label
							>{{ 'COMMON.SELECT' | translate }}
							<b>{{ 'USER.ROLE' | translate }}</b></label
						>
						<select
							class="form-control form-control-lg form-control-solid"
							name="roleId"
							autocomplete="off"
							formControlName="roleId"
						>
							<option value="null">
								--{{ 'COMMON.SELECT' | translate }}--
							</option>
							<option
								[value]="role.id"
								*ngFor="let role of roles"
							>
								{{ role.name }}
							</option>
						</select>
					</div>
				</div>
			</form>
		</ng-container>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-light btn-elevate mr-2"
			(click)="modal.dismiss()"
		>
			{{ 'COMMON.CANCEL' | translate }}
		</button>
		<ng-container *ngIf="userRole">
			<button
				type="submit"
				class="btn btn-primary btn-elevate"
				(click)="save()"
				[disabled]="
					formGroup.invalid ||
					(isLoading$ | async) ||
					(isLoadingSave$ | async)
				"
			>
				{{ 'COMMON.ADD' | translate }}
			</button>
		</ng-container>
	</div>
</div>
