<div class="d-flex flex-column-fluid mt-5">
	<!--begin::Container-->
	<div class="container">
		<!--begin::Row-->
		<div class="row">
			<!--begin::Col-->
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
				<!--begin::Card-->
				<div class="card card-custom gutter-b card-stretch">
					<!--begin::Body-->
					<app-card-pet></app-card-pet>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
				<!--begin::Card-->
				<div class="card card-custom gutter-b card-stretch">
					<!--begin::Body-->
					<app-card-pet></app-card-pet>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
			<!--end::Col-->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
				<!--begin::Card-->
				<div class="card card-custom gutter-b card-stretch">
					<!--begin::Body-->
					<app-card-pet></app-card-pet>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
		</div>
		<!--end::Row-->
		<!--begin::Row-->
		<div class="row">
			<!--begin::Col-->
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
				<!--begin::Card-->
				<div class="card card-custom gutter-b card-stretch">
					<!--begin::Body-->
					<app-card-pet></app-card-pet>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
			<!--end::Col-->
			<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
				<!--begin::Card-->
				<div class="card card-custom gutter-b card-stretch">
					<!--begin::Body-->
					<app-card-pet></app-card-pet>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
				<!--begin::Card-->
				<div class="card card-custom gutter-b card-stretch">
					<!--begin::Body-->
					<app-card-pet></app-card-pet>
					<!--end::Body-->
				</div>
				<!--end::Card-->
			</div>
		</div>
		<!--end::Row-->
	</div>
	<!--end::Container-->
</div>
