<div class="modal-content">
	<div class="modal-header" *ngIf="showServices">
		<ng-container *ngIf="isLoadingPet$ | async">
			<app-loading></app-loading>
		</ng-container>
		<div class="container-fluid">
			<div class="row">
				<div class="col" *ngIf="pet">
					<div class="d-flex">
						<div class="flex-shrink-0 mr-7">
							<div class="symbol symbol-50 symbol-lg-120">
								<img alt="Pic" [src]="pet.pic" />
							</div>
						</div>
						<div class="flex-grow-1">
							<div
								class="d-flex align-items-center justify-content-between flex-wrap mt-2"
							>
								<div class="mr-3">
									<a
										href="javascript:void(0)"
										class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3"
										>{{ pet.name | uppercase }}
										<i
											class="flaticon2-correct text-success icon-md ml-2"
										></i
									></a>
									<div class="d-flex flex-wrap my-2">
										<a
											href="#"
											class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
										>
											<span
												class="svg-icon svg-icon-md svg-icon-gray-500 mr-1"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													width="24px"
													height="24px"
													viewBox="0 0 24 24"
													version="1.1"
												>
													<g
														stroke="none"
														stroke-width="1"
														fill="none"
														fill-rule="evenodd"
													>
														<rect
															x="0"
															y="0"
															width="24"
															height="24"
														/>
														<path
															d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
															fill="#000000"
														/>
														<circle
															fill="#000000"
															opacity="0.3"
															cx="19.5"
															cy="17.5"
															r="2.5"
														/>
													</g>
												</svg> </span
											>{{ pet.breedName | uppercase }}</a
										>
										<a
											href="javascript:void(0)"
											class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
										>
											<span
												class="svg-icon svg-icon-md svg-icon-gray-500 mr-1"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													width="24px"
													height="24px"
													viewBox="0 0 24 24"
													version="1.1"
												>
													<g
														stroke="none"
														stroke-width="1"
														fill="none"
														fill-rule="evenodd"
													>
														<mask fill="white">
															<use
																xlink:href="#path-1"
															/>
														</mask>
														<g />
														<path
															d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z"
															fill="#000000"
														/>
													</g>
												</svg> </span
											>{{ pet.ownerName | uppercase }}</a
										>

										<a
											href="javascript:void(0)"
											class="text-muted text-hover-primary font-weight-bold"
										>
											<span
												class="svg-icon svg-icon-md svg-icon-gray-500 mr-1"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													width="24px"
													height="24px"
													viewBox="0 0 24 24"
													version="1.1"
												>
													<g
														stroke="none"
														stroke-width="1"
														fill="none"
														fill-rule="evenodd"
													>
														<rect
															x="0"
															y="0"
															width="24"
															height="24"
														/>
														<path
															d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z"
															fill="#000000"
														/>
													</g>
												</svg> </span
											>{{
												startDate
													| date
														: 'MMM d, y, h:mm:ss a'
											}}
											-
											<ng-container *ngIf="endDate">
												{{
													endDate
														| date
															: 'MMM d, y, h:mm:ss a'
												}}
											</ng-container>
										</a>
									</div>
								</div>
								<!-- <div class="my-lg-0 my-1">
									<a
										href="#"
										class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2"
										>Ask</a
									>
									<a
										href="#"
										class="btn btn-sm btn-primary font-weight-bolder text-uppercase"
										>Hire</a
									>
								</div> -->
							</div>
							<!-- <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">I distinguish three main text objectives could be merely to inform people.
                                <br />A second could be persuade people. You want people to bay objective.</div>
                                <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Progress</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div>
                            </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-header" *ngIf="!showServices">
		<div class="modal-title h4 p-3" id="example-modal-sizes-title-lg">
			<ng-container>
				{{ 'OWNER.SELECT_PET' | translate }}
			</ng-container>
		</div>
	</div>
	<div class="modal-body mt-0 pt-0" style="min-height: 180px">
		<ng-container *ngIf="isLoading$ | async">
			<app-loading></app-loading>
		</ng-container>
		<ng-container *ngIf="!showServices">
			<app-select-pet (petChange)="petChange($event)"></app-select-pet>
		</ng-container>

		<ng-container *ngIf="showServices && service && !(isLoading$ | async)">
			<form
				action="#"
				class="form form-label-right"
				[formGroup]="formGroup"
			>
				<div class="row">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">
									{{ 'PET_SERVICE.NAME' | translate }}
								</th>
								<th scope="col">
									{{ 'PET_SERVICE.COST' | translate }}
									<button
										class="ml-1 btn btn-sm btn-icon btn-success"
										(click)="addNewService()"
									>
										<i class="fa fa-plus"></i>
									</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<ng-container formArrayName="services">
								<ng-container
									*ngFor="
										let serviceForm of services.controls;
										let i = index
									"
								>
									<tr [formGroup]="serviceForm">
										<th>
											<span class="label mt-2">
												{{ i + 1 }}
											</span>
										</th>
										<td>
											<!-- <search-lookup
												propertyText="name"
												propertyValue="id"
												[data]="petServices"
												[formControl]="
													serviceForm.controls[
														'serviceId'
													]
												"
												[formatter]="name_formatter"
												name="serviceId"
												[resultTemplate]="name_template"
												placeholder="PET_SERVICE.NAME"
											>
											</search-lookup> -->
											<select
												class="form-control form-control-sm form-control-solid"
												formControlName="serviceId"
											>
												<option
													*ngFor="
														let item of petServices
													"
													[value]="item.id"
												>
													{{ item.name }}
												</option>
											</select>
										</td>

										<td>
											<div
												class="text-dark-75 font-weight-bolder mt-2"
											>
												${{
													serviceForm.controls.cost
														.value
												}}
											</div>
										</td>
									</tr>
								</ng-container>
								<tr>
									<td></td>
									<td></td>
									<td>
										<b>Total: </b>
										<!-- <span
											class="font-weight-bolder text-dark ml-4"
											>${{ totalServices | json }}</span
										> -->

										<span
											class="font-weight-bolder font-size-h5"
										>
											<span
												class="text-dark-50 font-weight-bold"
												>$</span
											>{{ totalServices }}</span
										>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</form>
		</ng-container>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-light btn-elevate mr-2"
			(click)="modal.dismiss()"
		>
			{{ 'COMMON.CANCEL' | translate }}
		</button>
		<ng-container *ngIf="service">
			<button
				type="submit"
				class="btn btn-primary btn-elevate"
				(click)="save()"
				[disabled]="formGroup.invalid || (isLoading$ | async)"
			>
				{{ 'COMMON.SAVE' | translate }}
			</button>
		</ng-container>
	</div>
</div>
<ng-template #name_formatter let-r="result">
	{{ r.name }}
</ng-template>
