<!-- <div
	class="image-input image-input-outline"
	id="kt_profile_avatar"
	[class.image-input-empty]="!pic"
	[style.backgroundImage]="'url(./assets/media/users/blank.png)'"
> -->
<div
	[formGroup]="formGroup"
	class="image-input image-input-outline"
	id="kt_profile_avatar"
	[class.image-input-empty]="!pic"
>
	<div class="image-input-wrapper" [style.backgroundImage]="getPic()"></div>
	<label
		class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
		data-action="change"
		data-toggle="tooltip"
		title=""
		data-original-title="Change avatar"
	>
		<i class="fa fa-pen icon-sm text-muted"></i>
		<input
			type="file"
			(change)="fileChangeEvent($event.target.files)"
			name="profile_avatar"
			accept=".png, .jpg, .jpeg"
		/>
		<input
			type="hidden"
			name="profile_avatar_remove"
			formControlName="pic"
		/>
	</label>
	<span
		class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
		data-action="cancel"
		data-toggle="tooltip"
		title=""
		data-original-title="Cancel avatar"
	>
		<i class="ki ki-bold-close icon-xs text-muted"></i>
	</span>
	<span
		*ngIf="pic"
		class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
		(click)="deletePic()"
		data-action="remove"
		data-toggle="tooltip"
		title=""
		data-original-title="Remove avatar"
	>
		<i class="ki ki-bold-close icon-xs text-muted"></i>
	</span>
</div>
