<div class="card card-custom gutter-b" style="min-height: 250px">
	<ng-container *ngIf="isLoading$ | async">
		<app-loading></app-loading>
	</ng-container>

	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">
				<ng-container *ngIf="setting">
					{{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
					{{ 'SETTING.NAME' | translate }}
				</ng-container>
			</h3>
		</div>
		<div class="card-toolbar">
			<a type="button" class="btn btn-light" routerLink="/common/setting">
				<i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
			</a>
			<button class="btn btn-secondary ml-2" (click)="reset()">
				<i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
			</button>
			<ng-container *ngIf="setting && activeTabId === tabs.BASIC_TAB">
				<button
					type="button"
					(click)="save()"
					class="btn btn-primary font-weight-bold ml-2"
					[disabled]="formGroup.invalid || (isLoading$ | async)"
				>
					{{ 'COMMON.SAVE' | translate }}
				</button>
			</ng-container>
		</div>
	</div>
	<div class="card-body">
		<ul class="nav nav-tabs nav-tabs-line" role="tablist">
			<li
				class="nav-item cursor-pointer"
				(click)="changeTab(tabs.BASIC_TAB)"
			>
				<a
					class="nav-link"
					data-toggle="tab"
					role="tab"
					[attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
					[class.active]="activeTabId === tabs.BASIC_TAB"
				>
					{{ 'COMMON.BASIC_INFO' | translate }}
				</a>
			</li>
		</ul>

		<ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
			<div class="mt-5" *ngIf="setting">
				<form
					action="#"
					class="form form-label-right"
					[formGroup]="formGroup"
					(ngSubmit)="save()"
				>
					<div class="form-group row">
						<div class="col-lg-4">
							<label
								><b>{{ 'SETTING.TAX' | translate }}</b></label
							>
							<input
								type="number"
								class="form-control form-control-lg form-control-solid"
								autocomplete="off"
								placeholder="{{ 'SETTING.TAX' | translate }}"
								name="tax"
								[class.is-invalid]="isControlInvalid('tax')"
								formControlName="tax"
							/>
						</div>
					</div>
				</form>
			</div>
		</ng-container>
	</div>
</div>
