<div class="card card-custom gutter-b" style="min-height: 250px">
	<ng-container *ngIf="isLoading$ | async">
		<app-loading></app-loading>
	</ng-container>

	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">
				<ng-container *ngIf="user">
					{{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
					{{ 'USER.USER' | translate }}
					<span *ngIf="user && user.id">'{{ user.userName }}'</span>
				</ng-container>
			</h3>
		</div>
		<div class="card-toolbar">
			<a
				type="button"
				class="btn btn-light"
				routerLink="/user-management/users"
			>
				<i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
			</a>
			<button class="btn btn-secondary ml-2" (click)="reset()">
				<i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
			</button>
			<ng-container *ngIf="user && activeTabId === tabs.BASIC_TAB">
				<button
					type="button"
					(click)="save()"
					class="btn btn-primary font-weight-bold ml-2"
					[disabled]="formGroup.invalid || (isLoading$ | async)"
				>
					{{ 'COMMON.SAVE' | translate }}
				</button>
			</ng-container>
		</div>
	</div>
	<div class="card-body">
		<ul class="nav nav-tabs nav-tabs-line" role="tablist">
			<li
				class="nav-item cursor-pointer"
				(click)="changeTab(tabs.BASIC_TAB)"
			>
				<a
					class="nav-link"
					data-toggle="tab"
					role="tab"
					[attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
					[class.active]="activeTabId === tabs.BASIC_TAB"
				>
					{{ 'COMMON.BASIC_INFO' | translate }}
				</a>
			</li>
			<li
				*ngIf="user && user.id"
				class="nav-item cursor-pointer"
				(click)="changeTab(tabs.ROLES_TAB)"
			>
				<a
					class="nav-link"
					data-toggle="tab"
					role="button"
					[attr.aria-selected]="activeTabId === tabs.ROLES_TAB"
					[class.active]="activeTabId === tabs.ROLES_TAB"
					>{{ 'USER.ROLES' | translate }}</a
				>
			</li>
		</ul>

		<ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
			<div class="mt-5" *ngIf="user">
				<form
					action="#"
					class="form form-label-right"
					[formGroup]="formGroup"
					(ngSubmit)="save()"
				>
					<div class="form-group row">
						<div class="col-lg-4">
							<label
								><b>{{ 'USER.USERNAME' | translate }}</b></label
							>
							<input
								type="text"
								class="form-control form-control-lg form-control-solid"
								autocomplete="off"
								placeholder="{{ 'USER.USERNAME' | translate }}"
								name="userName"
								[class.is-invalid]="
									isControlInvalid('userName')
								"
								formControlName="userName"
							/>
							<div
								class="invalid-feedback"
								*ngIf="controlHasError('required', 'userName')"
							>
								<b>{{ 'USER.USERNAME' | translate }}</b>
								{{ 'COMMON.REQUIRED' | translate }}
							</div>
							<div
								class="invalid-feedback"
								*ngIf="controlHasError('minlength', 'userName')"
							>
								<b>{{ 'USER.USERNAME' | translate }}</b>
								{{
									'COMMON.SHOULTD_HAVE_AT_LEAST'
										| translate: { min: 5 }
								}}
							</div>
							<div
								class="invalid-feedback"
								*ngIf="controlHasError('maxlength', 'userName')"
							>
								<b>{{ 'USER.USERNAME' | translate }}</b>
								{{
									'COMMON.SHOULTD_HAVE_MAXIMUM'
										| translate: { max: 255 }
								}}
							</div>
						</div>
						<div class="col-lg-4">
							<search-lookup
								label="THIRD_PARTY.NAME"
								propertyText="codeName"
								propertyValue="id"
								label_bold="true"
								[data]="thirdParties"
								[formControl]="
									formGroup.controls['thirdPartyId']
								"
								[formatter]="thirdparty_formatter"
								name="thirdPartyId"
								[resultTemplate]="thirdparty_template"
								placeholder="THIRD_PARTY.NAME"
							>
							</search-lookup>
						</div>
						<div class="col-lg-4">
							<search-lookup
								label="USER.COUNTRY"
								propertyText="codeName"
								propertyValue="id"
								label_bold="true"
								[data]="countries"
								[formControl]="formGroup.controls['countryId']"
								[formatter]="country_formatter"
								name="countryId"
								[resultTemplate]="country_template"
								placeholder="USER.COUNTRY"
							>
							</search-lookup>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-lg-4">
							<label
								><b>{{ 'USER.EMAIL' | translate }}</b>
							</label>
							<input
								type="text"
								class="form-control form-control-lg form-control-solid"
								autocomplete="off"
								placeholder="{{ 'USER.EMAIL' | translate }}"
								name="email"
								[class.is-invalid]="isControlInvalid('email')"
								formControlName="email"
							/>
							<div
								class="invalid-feedback"
								*ngIf="controlHasError('required', 'email')"
							>
								<b>{{ 'USER.EMAIL' | translate }}</b>
								{{ 'COMMON.REQUIRED' | translate }}
							</div>
							<div
								class="invalid-feedback"
								*ngIf="controlHasError('minlength', 'email')"
							>
								<b>{{ 'USER.EMAIL' | translate }}</b>
								{{
									'COMMON.SHOULTD_HAVE_AT_LEAST'
										| translate: { min: 10 }
								}}
							</div>
							<div
								class="invalid-feedback"
								*ngIf="controlHasError('maxlength', 'email')"
							>
								<b>{{ 'USER.EMAIL' | translate }}</b>
								{{
									'COMMON.SHOULTD_HAVE_MAXIMUM'
										| translate: { max: 255 }
								}}
							</div>
						</div>
						<div class="col-lg-3">
							<label
								><b>{{ 'USER.PHONE_NUMBER' | translate }}</b>
							</label>
							<input
								type="number"
								class="form-control form-control-lg form-control-solid"
								autocomplete="off"
								placeholder="{{
									'USER.PHONE_NUMBER' | translate
								}}"
								name="phoneNumber"
								[class.is-invalid]="
									isControlInvalid('phoneNumber')
								"
								formControlName="phoneNumber"
							/>
							<div
								class="invalid-feedback"
								*ngIf="
									controlHasError('required', 'phoneNumber')
								"
							>
								<b>{{ 'USER.PHONE_NUMBER' | translate }}</b>
								{{ 'COMMON.REQUIRED' | translate }}
							</div>
							<div
								class="invalid-feedback"
								*ngIf="
									controlHasError('minlength', 'phoneNumber')
								"
							>
								<b>{{ 'USER.PHONE_NUMBER' | translate }}</b>
								{{
									'COMMON.SHOULTD_HAVE_AT_LEAST'
										| translate: { min: 10 }
								}}
							</div>
							<div
								class="invalid-feedback"
								*ngIf="
									controlHasError('maxlength', 'phoneNumber')
								"
							>
								<b>{{ 'USER.PHONE_NUMBER' | translate }}</b>
								{{
									'COMMON.SHOULTD_HAVE_MAXIMUM'
										| translate: { max: 15 }
								}}
							</div>
						</div>

						<div class="col-lg-3">
							<label
								><b>{{ 'USER.PASSWORD' | translate }}</b>
							</label>
							<input
								type="password"
								class="form-control form-control-lg form-control-solid"
								autocomplete="off"
								placeholder="{{ 'USER.PASSWORD' | translate }}"
								name="phoneNumber"
								[class.is-invalid]="
									isControlInvalid('password')
								"
								formControlName="password"
							/>
						</div>

						<div class="col-lg-2">
							<label class="form-label">{{
								'COMMON.ACTIVE' | translate
							}}</label>
							<label class="checkbox">
								<input
									type="checkbox"
									formControlName="isActive"
								/>
								<span></span>
							</label>
						</div>
					</div>
				</form>
			</div>
		</ng-container>
		<ng-container *ngIf="activeTabId === tabs.ROLES_TAB && user && user.id">
			<app-user-role [userId]="user.id"></app-user-role>
		</ng-container>
	</div>
</div>
<ng-template #thirdparty_template let-r="result">
	{{ r.documentNumber }} - {{ r.names }} {{ r.lastNames }}
</ng-template>
<ng-template #country_template let-r="result">
	{{ r.name }}
</ng-template>
