<ng-container *ngIf="isLoading$ | async">
	<app-loading></app-loading>
</ng-container>
<div class="container-fluid">
	<div class="d-flex flex-column flex-md-row">
		<div class="flex-md-row-fluid ml-lg-12">
			<div class="row">
				<div class="col-xxl-12">
					<div class="card card-custom gutter-b">
						<div class="card-body">
							<span class="badge bg-created text-white">{{ 'SCHEDULE.CREATED' | translate }}</span>
							<span class="badge bg-paidout text-white">{{ 'SCHEDULE.PAID_OUT' | translate }}</span>
							<!-- <span class="badge bg-canceled text-white">Canceled</span> -->
							<span class="badge bg-started text-white">{{ 'SCHEDULE.STARTED' | translate }}</span>
							<span class="badge bg-completed text-white">{{ 'SCHEDULE.COMPLETED' | translate }}</span>
							<app-calendar
								[groomers]="groomers"
								[dataSource]="dataSource"
								(onChangeDate)="onChangeDate($event)"
								(onAppointmentOpenForm)="
									onAppointmentOpenForm($event)
								"
								(onAppointmentDeleting)="
									onAppointmentDeleting($event)
								"
							></app-calendar>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
