.badge {
	border-radius: 0px;
}

.bg-created {
	background-color: #1e90ff;
}
.bg-paidout {
	background-color: #9C27B0;
}
.bg-canceled {
	background-color: #cb6bb2;
}
.bg-started {
	background-color: #8BC34A;
}
.bg-completed {
	background-color: #455A64;
}
