<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">{{ 'USER.TITLE' | translate }}</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-primary" routerLink="0">
				{{ 'USER.NEW' | translate }}
			</button>
		</div>
	</div>
	<div class="card-body">
		<div class="form form-label-right">
			<div class="form-group row">
				<div class="col-lg-2" [formGroup]="searchGroup">
					<input
						type="text"
						class="form-control"
						name="searchText"
						placeholder="{{ 'COMMON.SEARCH' | translate }}"
						value=""
						formControlName="searchTerm"
					/><small class="form-text text-muted"
						><b>{{ 'COMMON.SEARCH' | translate }}</b>
						{{ 'COMMON.IN_ALL_FIELDS' | translate }}</small
					>
				</div>
			</div>
		</div>
		<app-grid-control
			[table_name]="'users'"
			[columns]="columns"
			[widthActions]="90"
			[entityService]="petTypeService"
			[showEdit]="true"
			(patchState)="fetch($event)"
			[routerLinkPath]="'./'"
			[propertyLink]="'id'"
		>
		</app-grid-control>
	</div>
</div>
