.dx-scheduler-header {
	display: none !important;
}
.dx-toolbar-items-container {
    display: none !important;
}

.dx-scheduler-header .dx-toolbar {
    height: 100%;
    background-color: transparent;
    display: none;
}