<div class="card-body" style="min-height: 250px">
	<div class="col-12">
		<dx-scheduler
			timeZone="America/Bogota"
			id="scheduler"
			[dataSource]="data"
			[views]="[]"
			[showAllDayPanel]="false"
			[showCurrentTimeIndicator]="false"
			[firstDayOfWeek]="0"
			[startDayHour]="6"
			[endDayHour]="24"
			[showAllDayPanel]="false"
			[groups]="['dayOfWeek']"
			[currentDate]="currentDate"
			[crossScrollingEnabled]="true"
			[cellDuration]="30"
			[height]="800"
			appointmentTemplate="appointment-template"
			appointmentTooltipTemplate="tooltip-template"
			(onAppointmentAdding)="onAddAppointment($event)"
			(onAppointmentUpdating)="onEditAppointment($event)"
			(onAppointmentDeleting)="onRemoveAppointment($event)"
			(onAppointmentFormOpening)="onAppointmentFormOpening($event)"
		>
			<dxo-editing
				[allowAdding]="true"
				[allowDeleting]="true"
			></dxo-editing>
			<dxi-resource fieldExpr="dayOfWeek" [dataSource]="days">
			</dxi-resource>
			<div *dxTemplate="let model of 'appointment-template'">
				<div class="showtime-preview">
					<div>Horario:</div>
					<div class="dropdown-appointment-dates">
						{{
							(model.appointmentData.startDate
								| date: 'shortTime') +
								' - ' +
								(model.appointmentData.endDate
									| date: 'shortTime')
						}}
					</div>
				</div>
			</div>

			<div *dxTemplate="let model of 'tooltip-template'">
				<div class="movie-tooltip">
					<div class="movie-info">
						<div class="movie-title">
							{{
								(model.appointmentData.startDate
									| date: 'shortTime') +
									' - ' +
									(model.appointmentData.endDate
										| date: 'shortTime')
							}}
						</div>
						<div>
							{{
								'Duration: ' +
									convertToMinutes(
										model.appointmentData.startDate,
										model.appointmentData.endDate
									) +
									' minutes'
							}}
						</div>
					</div>
				</div>
			</div>
		</dx-scheduler>
	</div>
</div>
