<div
	class="card card-custom gutter-b card-stretch"
	style.backgroundColor="{{ pet.gender === 1 ? '#DDDDFF' : '#FFE2E5' }}"
>
	<div class="card-body pt-4" *ngIf="pet">
		<!--begin::Toolbar-->
		<div class="d-flex justify-content-end">
			<div
				class="dropdown dropdown-inline"
				data-toggle="tooltip"
				title=""
				data-placement="left"
				data-original-title="Quick actions"
			>
				<button
					(click)="onEdit()"
					class="btn btn-clean btn-hover-light-success btn-sm btn-icon"
				>
					<i class="fa fa-pencil-alt"></i>
				</button>

				<button
					(click)="onDelete()"
					class="btn btn-clean btn-hover-light-danger btn-sm btn-icon"
				>
					<i class="fa fa-trash"></i>
				</button>
			</div>
		</div>
		<div class="d-flex align-items-end mb-7">
			<!--begin::Pic-->
			<div class="d-flex align-items-center">
				<!--begin::Pic-->
				<div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
					<div class="symbol symbol-circle symbol-lg-75">
						<img [src]="pet.pic" alt="image" />
					</div>
					<div
						class="symbol symbol-lg-75 symbol-circle symbol-primary d-none"
					>
						<span class="font-size-h3 font-weight-boldest">JM</span>
					</div>
				</div>
				<div class="d-flex flex-column">
					<a
						href="#"
						class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0"
						>{{ pet.name | uppercase }}</a
					>
					<span class="text-muted font-weight-bold"
						>{{ pet.petTypeName }} | {{ pet.breedName }}</span
					>
				</div>
			</div>
		</div>
		<p class="mb-7">
			{{ pet.observations }}
		</p>
		<!--end::Desc-->
		<!--begin::Info-->
		<div class="mb-7">
			<div class="d-flex justify-content-between align-items-center">
				<span class="text-dark-75 font-weight-bolder mr-2"
					>{{ 'PET.WEIGHT' | translate }}:</span
				>
				<a href="#" class="text-muted text-hover-primary"
					>{{ pet.weight }} Lb</a
				>
			</div>
			<div class="d-flex justify-content-between align-items-cente my-1">
				<span class="text-dark-75 font-weight-bolder mr-2"
					>{{ 'PET.GENDER' | translate }}:</span
				>
				<a href="#" class="text-muted text-hover-primary">
					{{
						(pet.gender === 1
							? 'PET.GENDER_MALE'
							: 'PET.GENDER_FEMALE'
						) | translate
					}}
				</a>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<span class="text-dark-75 font-weight-bolder mr-2"
					>{{ 'PET.BIRTH_DATE' | translate }}:</span
				>
				<span class="text-muted font-weight-bold">{{
					pet.birthDate | date: 'MMMM d'
				}}</span>
			</div>
		</div>
		<!--end::Info-->
		<!-- <a
			href="#"
			class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4"
			>write message</a
		> -->
	</div>
</div>
